<div>
  <button class="login" type="submit" (click)="acessarConta()">Entrar</button>
</div>

<div class="principal">
  <h1>Filmes, séries e muito mais. Sem limites.</h1>
  <h2>Assista onde quiser. Cancele quando quiser.</h2>
  <h3>
    Quer assistir? Informe seu email para criar ou reiniciar sua assinatura.
  </h3>
  <label for="email"></label>
  <input type="email" class="email" placeholder="Email" />
  &#160;
  <button class="vamos" type="submit" (click)="acessarConta()">
    Vamos lá
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </button>
</div>
