@charset "UTF-8";
* {
    background-color: rgb(255, 255, 199);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(71, 38, 38);
    text-align: center;
    background-image: url(imagens/h1image.jpg);
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    background-size: cover;
}
nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: rgb(245, 189, 8);
}
nav > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 4px;
    position: relative;
}
nav > a {
    background-color: rgb(245, 189, 8);
    float: left;
    display: fixed;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav > a:hover {
    background-color: rgb(247, 247, 104);
    color: rgb(71, 38, 38);
}
p {
    font-size: 14px;
    padding-top: 70px;
}
button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
img {
    width: 60px;
}

