@charset "UTF-8";
html,
body,
div,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   
}
body {
    min-height: 100vh;
    padding-top: 40px;
    background-color: rgb(255, 255, 199);
    margin: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(71, 38, 38);
    text-align: center;
    background-image: url(imagens/h1image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    padding: 10px;
}
p {
    font-size: 14px;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 40px;
    padding: 10px;
    background-color: rgb(245, 189, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav img#logo {
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav ul {
    display: flex;
    gap: 15px;
    margin: 15px;
    font-size: 17px;
    list-style: none;

}
nav ul li a {
    color: rgb(71, 38, 38);;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
li a:link,
li a:visited,
li a:active {
    background-color: rgb(245, 189, 8);
    text-decoration: none;
    color: rgb(71, 38, 38);
}
nav ul li a:hover {
    background-color: rgb(255, 255, 113);
    transition: all 300ms;
}
button {
    padding: 10px;
    border: 2px solid rgb(71, 38, 38);;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
button img {
    max-width: 50px;
}

div#imagens {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 20px;
}
div#imagens img {
    max-width: 300px;
    display: block;
}
iframe {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
footer {
    color: rgb(71, 38, 38);
    background-color:rgb(245, 189, 8);
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

