@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}
.novo {
  color: white;
  font-weight: bolder;
  background-color: red;
  border-radius: 50px;
  font-size: 12px;
  padding: 5px;
}
p {
  color: black;

  padding: 22px;
}
b {
  font-size: 23px;
  font-weight: Bold 900;
}

.saiba-mais {
  color: #1f82ee;
  border: none;
  font-weight: bolder;
  font-size: 16px;
}
