<nav>
  <div class="menu">
    <div class="logo">
      <img
        src="https://logopng.com.br/logos/netflix-94.png"
        alt="Logo Netflix"
        class="logo-netflix"
        (click)="navigateToHome()"
      />
    </div>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Início</a>
      </li>
      <li>
        <a routerLink="/serie">Peaky Blinders</a>
      </li>
      <li>
        <a routerLink="/serie">The Crown</a>
      </li>
      <li>
        <a routerLink="/serie">Stranger Things</a>
      </li>
    </ul>
  </div>
  <button (click)="logout()">Logout</button>
</nav>
