<div class="tela-fundo"></div>
<div class="logo">
  <img
    class="logo-netflix"
    src="https://logopng.com.br/logos/netflix-94.png"
    alt="Logo Netflix"
  />

  <div><button class="login" type="submit">Entrar</button></div>

  <div class="texto">
    <h1>Filmes, séries e muito mais. Sem limites.</h1>
    <h2>Assista onde quiser. Cancele quando quiser.</h2>
    <h3>
      Quer assistir? Informe seu email para criar ou reiniciar sua assinatura.
    </h3>
    <label for="email"></label>
    <input type="email" id="email" placeholder="Email" />
    &#160;
    <button class="vamos" typ e="submit">
      Vamos lá
      <span class="material-symbols-outlined"> arrow_forward_ios </span>
    </button>
  </div>
</div>
