.fundo-netflix {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
}
.logo-netflix {
  position: relative;
  width: 180px;
  top: 50px;
  left: 200px;
}
