<main>
  <div class="container">
    <div class="content">
      <div id="login">
        <form method="post" action="">
          <h1>Login</h1>
          <p>
            <label for="email_login"></label>
            <input
              id="email_login"
              name="email_login"
              required="required"
              type="email"
              placeholder="E-mail"
            />
          </p>
          <p>
            <label for="password"></label>
            <input
              id="password"
              name="password"
              required="required"
              type="password"
              placeholder="Senha"
            />
          </p>
          <p>
            <input type="submit" value="Entrar" />
          </p>
        </form>
      </div>
    </div>
  </div>
</main>
